body {
    margin:0;
    background-color:rgb(196, 84, 84);
}


/*form {
    width:190px;
    height:150px;
    backgrouNd-color:rgb(238, 230, 230);
    margin:auto;
    padding:20px;
    margin-top:20px;
}
input {
    padding:5px;
    font-size:13px;
}*/
