body {
    margin: 0;
}

.exemplo {
    width:500px;
    height:200px;
    background:blue;
    background:linear-gradient(-90deg,white, black);
    background:-moz-radial-gradiente(-90deg,white, black);
    background:-webkit-radial-gradient(-90deg,white, black);
    background:-o-linear-gradient(-90deg,white, black);
}