body {
    margin:0;
}
#teste {
    background-color:green;
    margin-left:100px;
    margin-top: 100px;
    width:200px;
    height:200px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:10px;
    /*border-radius:10px;*/
    
}